{{#get "posts"}}
<nav class="menu">
  <span class="menu-heading">Derniers articles</span>
  {{#foreach posts limit="5"}}
    <a class="menu-item tag" href="{{url}}">{{title}}</a>
  {{/foreach}}
</nav>
{{/get}}
